nav.navbar {
  z-index: $z-nav;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: $black-50;
  ul {
    @include defaults;
    list-style: none;
    li {
      display: inline-block;
      &.brand {
        a { @include defaults; }
      }
      &.nav-right {
        float: right;
        a {
          text-decoration: underline dotted;
          @include button($black-90, $white, 4px);
        }
      }
    }
  }
}